<% if (success && success.length > 0) { %>
  <div class="alert alert-success alert-dismissible fade show mx-auto my-2" role="alert" style="max-width: 500px; width: 90%;">
      <%= success %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>

<% if (error && error.length > 0) { %>
  <div class="alert alert-danger alert-dismissible fade show mx-auto my-2" role="alert" style="max-width: 500px; width: 90%;">
      <%= error %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>
