<style>
  /* Footer */
  .f-info-links a {
    text-decoration: none;
    color: #ffffff;
  }

  .f-info-links a:hover {
    text-decoration: underline;
  }

  .f-info {
    text-align: center;
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #45595b;
    color: #ffffff;
  }

  .f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
  }

  .f-info-links,
  .f-info-socials,
  .f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="f-info-brand">&copy; Fruitable Private Limited</div>
    <div class="f-info-links">
      <a href="/product">Privacy</a>
      <a href="/product">Terms</a>
    </div>
  </div>
</footer>
