<style>
  .nav-link {
  color: white;
}

.nav-link.active {
  color: #81c408 !important;
}
.navbar-collapse {
  display: none;
  transition: max-height 0.3s ease;
  overflow: hidden;
}

.navbar-collapse.show {
  display: block;
}

</style>
<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Fruitables</a>
<button class="navbar-toggler" type="button" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>


    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/product/shop">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/product/new">Add</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/product/contact">Contact Us</a>
        </li>
      </ul>

      <form class="d-flex search-bar my-2 my-lg-0" role="search" action="/product/search">
        <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">
          <i class="search fa-solid fa-magnifying-glass"></i>
        </button>
      </form>

      <div class="icons ms-3">
        <div class="cart position-relative">
          <a href="/cart" style="text-decoration: none; position: relative;">
            <i class="fa-solid fa-cart-shopping"></i>
            <% if (cartCount && cartCount > 0) { %>
              <span><%= cartCount %></span>
            <% } %>
          </a>
        </div>

        <% if (!curUser) { %>
          <div class="cart"><a href="/user/login"><i class="fa-solid fa-user"></i></a></div>
        <% } else { %>
          <div class="cart"><a href="/user/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></div>
        <% } %>
      </div>
    </div>
  </div>
</nav>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const toggler = document.querySelector('.navbar-toggler');
  const collapse = document.querySelector('.navbar-collapse');

  toggler.addEventListener('click', () => {
    collapse.classList.toggle('show');
    toggler.setAttribute('aria-expanded', collapse.classList.contains('show'));
  });

  document.querySelectorAll('.navbar-collapse .nav-link').forEach(link => {
    link.addEventListener('click', () => {
      if (collapse.classList.contains('show')) {
        collapse.classList.remove('show');
        toggler.setAttribute('aria-expanded', false);
      }
    });
  });
});

</script>

