/* .navbar */
body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Raleway", sans-serif !important;
  overflow-x: hidden;
  height: 100%;
   display: flex;
  flex-direction: column;
   min-height: 100vh;
}
.content-wrapper {
  flex: 1; 
  display: flex;
  flex-direction: column;
}
.container-fluid {
  width: 100vw;
  max-width: 100%;
  height: 90px;
  padding: 0 !important;
  margin: 0 !important;
  background-color: white;
  border-bottom: 1px solid #ccc;
}

.navbar {
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.navbar-brand {
  font-weight: bolder !important;
  font-size: 35px !important;
  color: #81c408 !important;
  margin-left: 20px;
  padding: 0px 40px;
}

.navbar-nav {
  display: flex;
  margin-left: 7rem;
  gap: 1rem;
}

.nav-link {
  color: #0000008c !important;
  font-size: 18px !important;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
}

.search-bar input {
  width: 250px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar button {
  border: 1px solid orange !important;
  border-radius: 15px !important;
  padding: 5px 10px !important;
  background: #ffffff !important;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

.icons {
  display: flex;
  gap: 2rem;
  margin-left: 2rem;
  justify-content: center;
  align-items: center;
}

.cart i {
  width: 32px;
  height: 28px;
  color: green;
  font-size: 28px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center; 
}
.search-bar button:hover {
  color: green;
}
/* Index Page */
.outer-card {
  padding: 0 60px;
}

.product-card {
  border: 1px solid #f0c14b !important;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  height: 100%;
  background-color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); 
}
/* 
.col {
  padding: 10px;
} */

.image-container {
  position: relative;
  width: 100%;
}

.category-badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: #f0c14b;
  color: white;
  padding: 6px 14px;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.product-card:hover {
  transform: scale(1.03);
}

.card-img-top {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-links {
  text-decoration: none;
  color: black !important;
  display: block !important;
}

.card-body {
 padding: 20px;
  border-top: none;
  text-align: center;
  color: black;
}

.card-title {
font-weight: 400 !important;
font-size: 24px !important;
margin-bottom: 10px;
color: #45595b;
}

.description {
  font-size: 16px;
  color: #747d88 !important;
  max-width: 280px;
  height: 72px;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  font-size: 18px !important;
  color: #333 !important;
  font-weight: bold !important;
  margin: 12px 0;
}

.add-to-cart {
  background-color: white !important;
  color: green !important;
  border: 1px solid #f0c14b !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  border-radius: 30px !important;
  cursor: pointer !important;
  font-size: 15px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 500;
  transition: all 0.3s ease-in-out !important;
}

.add-to-cart:hover {
  background-color: #f0c14b !important;
  color: white !important;
}

.add-to-cart i {
  font-size: 1.1rem !important;
}

.container {
  flex: 1; /* Makes content expand and push footer to bottom */
}
.contact-wrapper {
        position: relative;
        text-align: center;
    }
    .contact-wrapper img {
        width: 100%;
        height: 170px;
    }
    .contact-wrapper h2 {
        position: absolute;
        top: 30%;
        left: 43%;
        color: white;
        font-weight: 700;
        font-size: 35px;
        text-align: center;
    }
    .contact-wrapper a {
        text-decoration: none;
    }
    .list {
        position: absolute;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        left: 38%;
        bottom: 18%;
        display: flex;
        text-align: center;
    }
    .same {
        color: #81c408;
        font-size: 17px;
    }
    .diff {
        color: #fff;
        font-size: 17px;
    }
